$color-grey-light: #f6f6f6;
$color-grey-medium: #F1E4E4;
$color-grey-dark: #433D3C;

$color-black: #000;
$color-white: #ffffff;

$font-logo: 'Abril Fatface', serif;
$font-display: 'DM Serif Display', serif;
$font-sans: 'Archivo', sans-serif;
$font-sans-narrow: 'Archivo Narrow', sans-serif;

// $filter-dark: linear-gradient()
$full-width: 92%;

// FONTS
$dm-serif-display: 'dm-serif-display';


// SPACING

$gap-nav: 2.6rem;
